*
{
    background-color: #1f242d;
}
.donate-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    height: 100%;
    background-color: #1f242d;
    border-radius: 10px;
    border: 1px #1f242d solid;
}

.logo
{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 800;
}

.material-symbols-outlined {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 800;
    color: #fff;
    margin: 0;
    padding: 0;
    transition: text-shadow 1s;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40
}
.material-symbols-outlined:hover
{
    transition: text-shadow 1s;
    cursor: pointer;
    text-shadow:  0 0 30px #0ef;
}

#donate-title
{
color:transparent;
-webkit-text-stroke: 1px #fff;
font-size: 300%;
text-align: center;
background-image: linear-gradient(#fff, #fff);
background-repeat: no-repeat;
-webkit-background-clip: text;
background-position: -1250px 0;
transition: background-position 1s , text-shadow 1s;
transition-delay: .6s, 0s;
}
#donate-title:hover
{
transition: background-position 1s , text-shadow 1s;
transition-delay: 0s, 1s;
background-position: 0 0;
text-shadow: 
    0 0 5px  #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #fff;
}



header, nav {
    margin: 0;
    justify-content: space-between;
    padding: 10px;
}


.header
{
    

 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 padding: 20px 100px;
 background: #1f242d;
 opacity: 0.75;
 display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 100;
}

.logo
{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 800;
}


.navbar a 
{
position: relative;
font-size: 18px;
color: #fff;
font-weight: 500;
text-decoration: none;
margin-left: 40px;
}

.navbar a::before
{
content: '';
position: absolute;
top: 100%;
left: 0;
width: 0;
height: 2px;
background: #fff;
transition: .5s;
}   
.navbar a:hover::before
{
width: 100%;
}




